/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after
{
  content: ".";
  display: table;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.column {
  column-count: 3;
  clear:both;
  padding:5;
}

.column1 {
  column-count: 1;
}
.brands {
  width:66%;
  float:left;
  padding:5;

  
}
.archive {
  width:33%;
  float: right;
  padding:5;
  
  
}

